{% extends "finncasino/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron mt-4">
        <h2>Welcome to the FinnCasino control panel!</h2>
        <h3>This type of request is not supported!</h3>
  </div>
</div>
{% endblock %}