{% extends "finncasino/base.html" %}
{% block body_block %}
{{ form.date }}

<script>
  $(function () {
    $("#id_start").datetimepicker({
      format: 'd/m/Y H:i',
    });
    $("#id_end").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    startValue = $("input[name='start']")[0].value;
    endValue = $("input[name='start']")[0].value;
  }, false);
</script>
<div class="container">
  <div class="jumbotron mt-4">
    <div class="row">
        <div class="col-xl-4 text-center">
            <h3>Name of the event</h3>
        </div>
        <div class="col-xl-4 text-center">
            <h3>Starts at</h3>
        </div>
        <div class="col-xl-4 text-center">
            <h3>Ends at</h3>
        </div>
    </div>
    <div class="event-parent" data-id={{ event.id }}>
      <hr>
      <div class="row">
          <div class="col-xl-4 text-center">
              {{ event.name }}
          </div>
          <div class="col-xl-4 text-center">
              {{ event.start }}
          </div>
          <div class="col-xl-4 text-center">
              {{ event.end }}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 text-center">
              {{ event.oddToWin }} ({{ event.participantA}})
          </div>
          <div class="col-xl-4 text-center">
              {{ event.oddToLose }} (Draw)
          </div>
          <div class="col-xl-4 text-center">
              {{ event.oddToDraw }} ({{ event.participantB}})
          </div>
        </div>
      </div>
      <form class="pt-5" enctype="multipart/form-data" method="POST" onload="changeDateTimeFormat()">
        {% csrf_token %}
        {{ event_form.as_p }}
        {% if event_form %}
          <input type="submit" name="" value="Update current event">
        {% endif %}
      </form>
  </div>
</div>
{% endblock %}