{% extends "finncasino/base.html" %}
{% block body_block %}
{{ form.date }}

<script>
  $(function () {
    $("#id_start").datetimepicker({
      format: 'd/m/Y H:i',
    });
    $("#id_end").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

  function deleteEvent(id) {
    $.ajax({
    url: window.location.href + id,
    type: 'DELETE',
    beforeSend:     function (request) {
      request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    },
    data: {
      csrfmiddlewaretoken: getCookie('csrftoken')
    },
    success: function(result) {
      $("div[data-id='" + id + "']").remove();
      if($('.event-parent').length < 1) {
        window.location.href = window.location.href;
      }
    },
    error: function(request,msg,error) {
        // handle failure
    }
  })}
</script>
<div class="container">
  <div class="jumbotron mt-4">
    {% if not events %}
      <h2>No events</h2>
    {% else %}
    <div class="row">
        <div class="col-xl-3 text-center">
            <h3>Name of the event</h3>
        </div>
        <div class="col-xl-3 text-center">
            <h3>Starts at</h3>
        </div>
        <div class="col-xl-3 text-center">
            <h3>Ends at</h3>
        </div>
    </div>
    {% endif %}
    {% for event in events %}
    <div class="event-parent" data-id={{ event.id }}>
      <hr>
      <div class="row">
          <div class="col-xl-3 text-center">
              {{ event.name }}
          </div>
          <div class="col-xl-3 text-center">
              {{ event.start }}
          </div>
          <div class="col-xl-3 text-center">
              {{ event.end }}
          </div>
          <div class="col-xl-3 text-center">
              <button class="btn-primary" onclick="window.location.href=window.location.href + '{{ event.id }}'">
                Edit
              </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 text-center">
              {{ event.oddToWin }} ({{ event.participantA}})
          </div>
          <div class="col-xl-3 text-center">
              {{ event.oddToLose }} (Draw)
          </div>
          <div class="col-xl-3 text-center">
              {{ event.oddToDraw }} ({{ event.participantB}})
          </div>
          <div class="col-xl-3 text-center">
              <button class="btn-danger" onclick="deleteEvent({{ event.id}})">
                  Delete
              </button>
          </div>
        </div>
      </div>
    {% endfor %}
    <form class="pt-5" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{ event_form.as_p }}
      {% if event_form %}
        <input type="submit" name="" value="Create new event">
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}