{% extends "finncasino/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron mt-4">
    {% if user.is_authenticated %}
        <h3>Hello {{ user.username }}</h3>
    {% else %}
    <h2>Welcome to the FinnCasino control panel !</h2>
        <h3>Please login to access the events</h3>
    {% endif %}
  </div>
</div>
{% endblock %}