{% extends 'finncasino/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron mt-4">
      <h2 class="pb-3">Login here :</h2>
        <form method="post" action="{% url 'finncasino:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
          <input type="submit" name="" value="Login">
        </form>
        {% if error %}
          <div class="alert alert-danger" role="alert">
              {{ error }}
          </div>
        {% endif %}
  </div>
</div>
{% endblock %}