{% extends "finncasino/base.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron mt-4">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {% if user_form %}
            <input type="submit" name="" value="Register">
          {% endif %}
        </form>
      {% endif %}
      {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
      {% endif %}
    </div>
    
  </div>
{% endblock %}